# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\dhanashekaragowda.sm\Desktop\Learnings\Spring Frame work 5 from Udemy\Repositories\sfg-pet-clinic\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
